body{
    font-size: 32px;
    font-family: Consolas;
    margin: 0;
    padding: 0;
}
.game-area{
    background: skyblue;
    width: 100%;
    height: 93vh;
    position: relative;
    margin: 0px;
}
.game-start{
    position: absolute;
    width: 30%;
    background-color: greenyellow;
    border-radius: 30px;
    top: 100px;
    left: 35%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}
.game-score{
    background-color: black;
    color: white;
    text-align: center;
}
.hide{
    display: none;
}
.wizard{
    width: 82px;
    height: 100px;
    position: absolute;
    mix-blend-mode:color-burn;
    background-size: cover;
    z-index: 100;
}
.wizard1{
    background-image: url("images/png-clipart-game-design-shooter-game-unity-two-dimensional-space-unity-2d-game-cartoon.png");
}
.wizard2{
    background-image: url("images/wizard-rotated.png");
}
.wizard-fire-1{
    width: 82px;
    height: 100px;
    position: absolute;
    background-image: url("images/wizard-fire.png");
    background-size: cover;
    z-index: 100;
}
.wizard-fire-2{
    width: 82px;
    height: 100px;
    position: absolute;
    background-image: url("images/wizard-fire-rotated.png");
    background-size: cover;
    z-index: 100;
}
.fire-ball{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("images/fire-ball.png");
    background-size: cover;
}
.fire-ball2{
    background-image: url("images/fire-ball-rotated.png");
}
.fire-ball1{
    background-image: url("images/fire-ball.png");
}
.bug{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("images/bug.png");
    background-size: cover;
}
.game-over{
    position: absolute;
    width: 30%;
    background-color: red;
    border-radius: 30px;
    top: 100px;
    left: 35%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}
.player-wins{
    position: absolute;
    width: 30%;
    background-color: red;
    border-radius: 30px;
    top: 100px;
    left: 35%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}